body{
    background-color: papayawhip;
}
#Titulo{
    color: navy;
    margin-left: 420px;
}
.Parrafo{
    margin-left: 250px;
    font-style: italic;
}
#Causas{
    margin-top: 50px;
    margin-left: 100px;
    font-size: large;
}
ol{
    font-size: small;
}
#Fuentes{
    margin-top: 150px;
}